<div class="container mx-auto pt-3 px-4">
  <div class="flex justify-center">
    <div class="w-full lg:w-10/12">
      <!-- 検索フォーム -->
      <form>
        <div class="flex items-center space-x-2 mb-3">
          <input type="search" placeholder="検索ワード"
                 class="flex-grow border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
          <input type="submit" value="検索"
                 class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 cursor-pointer" />
        </div>
      </form>
    </div>
  </div>

  <!-- 掲示板一覧 -->
  <div class="mt-4">
    <!-- @boardsに値が存在するかどうかを確認 -->
    <% if @boards.present? %>
        <%= render @boards %>
    <% end %>
  </div>
</div>
